import { Component } from 'react';
import './index.css';
import {
  @com
} from '../com-icons/index';
import WxIcon, { IconEnum } from "../components/WxIcon";

export default () => {
  return (
    <div className="demo-icon">
      @html
      @wxIcon
    </div>
  );
}