.demo-circle {
  .demoWrap {
    display: flex;
    align-items: center;
    background-color: #fff;
    .btnWrap {
      margin-left: 20px;
      .btn {
        margin-right: 20px;
      }
    }
  }
}
