@import '../style/index.less';
@class-prefix: ~'retaroct-stepper';

@stepper-bg-color: #f2f3f5;
@stepper-disable-bg-color: #f7f8fa;

.@{class-prefix} {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  &-btn {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: -8px;
    padding: 8px;
    background-color: @stepper-bg-color;
    border-radius: 4px;
  }
  &-reduce-round {
    background: #fff;
    border: 1px solid @blue;
    border-radius: 50%;
  }
  &-add-round {
    background: @blue;
    border: 1px solid @blue;
    border-radius: 50%;
  }
  &-inp {
    position: relative;
    z-index: 0;
    width: 25px;
    height: 100%;
    margin: 0 10px;
    color: #000;
    // background-color: @stepper-bg-color;
    font-size: 12px;
    text-align: center;
  }
  &-inp-round {
    background-color: transparent;
  }
  input::-webkit-input-placeholder {
    color: #9aa5b6;
    font-size: 14px;
  }
  &-disabled {
    color: @stepper-disable-bg-color;
  }
  &-disabled-reduce-round {
    background: #fff;
    border: 1px solid @lightBlue;
    border-radius: 50%;
  }
  &-disabled-add-round {
    background: @lightBlue;
    border: 1px solid @lightBlue;
    border-radius: 50%;
  }
}
