@gray-1: #f6f6f6;
@gray-2: #e5e5e5;
@gray-3: #a3a3a3;
// supersvn
@yellowGreen: #d3f850;
// fourTwoFour
@red: #eb3223;
// awake ny
@black: #1f2021;
@blue: #4285fb;

.theme(@property, @imp) {
  @{property}: e(replace(@imp, '(-?)@([^() ]+)', '$1@{$2}', 'ig'));
  @{property}: e(replace(@imp, '(-?)@([^() ]+)', 'var(--$2, $1@{$2})', 'ig'));
}
